.ListComment-root {
  width: 10px;
  max-width: 500px;
  position: "relative";
  max-height: 300px;
  .listSection {
    background-color: "inherit";
    ul {
      width: 100%;
      background-color: "inherit";
      padding: 0;
    }
  }
  .selectedComment {
    background-color: "blue";
  }
}
.defaultTextAreaComment {
  margin-left: 10px;
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  font-family: "Roboto, Hevitica, Arial, sans-serif";
  font-size: 17px;
}
